$header-height: 60px;
$header-font-size: 14px;
$padding30: 30px;
$redcolor: #bc0600;
$gray: #b8b8b8;

.container{
    box-sizing: border-box;
    font-family: Arial;
}
.header{
    color: white;
    background-color: $redcolor;
    width: 100%;
    height: $header-height;
    padding-left: $padding30;
    padding-top: ($header-height - $header-font-size) / 2;
    font-size: $header-font-size;
}
.main{
    height: 100%;
    background-color: white;
    padding: $padding30;
    
    &__title{
        font-size: 40px;
        font-weight: bolder;
        color: $redcolor;
        text-align: center;
        margin-top: 30px;
    }
    &__description{
        text-align: center;
        color: $gray;
        margin-top: 30px;
        font-size: 12px;
        line-height: 16px;
    }
}
.login{
    color: $gray;
    margin-top: 30px;
    line-height: 20px;
    font-size: 12px;
    label{
        padding: 20px;
    }
    &__inputField{
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray;
        padding: 10px;
    }
    &__submitBtn{
        width: 90%;
        height: 40px;
        margin: 20px 5%;
        background-color: $redcolor;
        color: white;
        border-radius: 7px;
    }
}